@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

@font-face {
  font-family: "Inter";
  src: url("/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: "Inter Black";
  src: url("/Inter-Black-slnt=0.ttf");
}

.find__your {
  font-family: 'Inter Black';
  font-size: 5rem;
}

body {
  background: linear-gradient(180deg, rgba(113, 192, 249, 0.77) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #3B2BE9 0%, #FFAAA5 100%), #C4C4C4; 
  min-height: 100vh;
  font-family: 'Inter';
}

.sprk__logo {
  width: auto;
  height: 75px;
}

.blurb p {
  @apply mb-4 text-white text-lg;
}

.blurb a {
  @apply text-sprk-blue underline;
}


/* NAV */

.nav {
  @apply pt-2 order-first w-full absolute;
  right: 0;
  top: -150%;
  opacity: 0;
  visibility: hidden;
  transition: top 200ms, opacity 200ms, visibility 200ms;
}

.nav--is-open {
  top: 3rem;
  opacity: 1;
  visibility: visible;
}

.nav-toggle {
  @apply fixed z-50 flex items-center justify-center w-full;
  top: 1rem;
  mix-blend-mode: difference;
}


.is--small {
  @apply bg-gray-100
}


@screen md {

  .is--small {
    @apply bg-transparent
  }

  .nav-toggle {
    display: none;
  }

  .nav {
    @apply relative;
    opacity: 1;
    visibility: visible;
  }

  .nav-width {
    max-width: 340px;
  }

  .nav__image {
    @apply justify-end;
    display: flex;
    position: fixed;
    bottom: 12rem;
    right: 1rem;
    width: 320px;
  }

  .nav__image img {
    @apply object-contain mb-0;
    width: 100%;
  }

  .nav--is-open {
    @apply top-0
  }
}


/* END NAV */